# Don't Import:

###

/*.yml
/*.txt
/*.jar
/*.json
.console_history
server.properties

!server.properties-edits.yml
!spigot-edits.yml
!version.txt
!setup.txt

###

/versions
/logs
/libraries
/cache
/.vscode
/bundler
/BuildTools/
/config/
/crash-reports
/world/
/world_nether
/world_the_end

###

/plugins/bStats
/plugins/PluginMetrics
/plugins/spark
/plugins/Vault
/plugins/.paper-remapped

/plugins/CoreProtect/

/plugins/fendoris-verify/verified.yml
/plugins/fendoris-verify/applications.yml

###